@import '../../styles/color.scss';

.kasa-accomodation-slideshow {
    width: 100%;
    height: 40rem;
    position: relative;
    border-radius: 1rem;
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.05;
        border-radius: 1rem;   
    }
    &-arrowLeft {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 2.5rem;
        transform: translateY(-50%);
        width: 1.5rem;
        z-index: 1;
        animation-name: tonext;
        animation-timing-function: ease;
    }
    &-arrowRight {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 2.5rem;
        transform: translateY(-50%);
        width: 1.5rem;
        z-index: 1;
    }
    &-slide {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-slideIndicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        color: $white;
        font-size: 1.2rem;
        font-weight: 500;
        z-index: 1;
    }
}
 .hidden {
    visibility: hidden !important;
}

@media screen and (min-width: 768px){
    .kasa-accomodation-slideshow {
        height: 41.5rem;
        border-radius: 2.5rem;
        &::after {
            border-radius: 2.5rem;   
        }
        &-arrowLeft {
            width: 2.75rem;
            left: 3.5rem;
        }
        &-arrowRight {
            width: 2.75rem;
            right: 3.5rem;
        }
        &-slide {
            border-radius: 2.5rem;
        }
        &-slideIndicator {
            font-size: 1.6rem;
        }
    }
}
@media screen and (min-width: 1024px){
    .kasa-accomodation-slideshow {
        height: 41.5rem;
        border-radius: 2.5rem;
        &::after {
            border-radius: 2.5rem;   
        }
        &-arrowLeft {
            width: 4.5rem;
            left: 5rem;
        }
        &-arrowRight {
            width: 4.5rem;
            right: 5rem;
        }
        &-slide {
            border-radius: 2.5rem;
        }
        &-slideIndicator {
            font-size: 1.8rem;
        }
    }
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }