.kasa-about {
    margin: 2rem;
    &-collapses {
        margin: 2rem;
    }
}

@media screen and (min-width: 768px){
    .kasa-about {
        margin: 2rem 5rem;
        &-collapses {
            margin: 2rem 5rem;
        }
    }
}

@media screen and (min-width: 1024px){
    .kasa-about {
        margin: 2rem 10rem;
        &-collapses {
            margin: 5rem 10rem;
        }
    }
    
}
