@import '../../styles/color.scss';

.kasa-home {
    margin: 2rem;
    &-cards {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;  
    }
}

@media screen and (min-width: 768px){
    .kasa-home {
        margin: 2rem 5rem;
        &-cards {
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: $soft-color;
            border-radius: 2.5rem;  
            padding: 2.5rem;
            column-gap: 2.5rem;
            row-gap: 3rem;
        }
    }
}

@media screen and (min-width: 1024px){
    .kasa-home {
        margin: 2rem 10rem;
        &-cards {
            padding: 5rem;
            column-gap: 5rem;
            row-gap: 6rem;
        }
    }
    
}
