@import '../../styles/color.scss';

.kasa-footer {
    padding: 2rem;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    &-logo {
        width: auto;
        height: 8vw;
        cursor: pointer;
    }
    &-text {
        color: $white;
        margin: 0;
        font-size: 2.5vw;
    }
}
  
@media screen and (min-width: 768px){
  .kasa-footer {
    padding: 5rem;
    gap: 2rem;
    &-logo {
        max-height: 3.5rem;
    }
    &-text {
        font-size: 2.4rem;
    }
  }
}