.kasa-banner-container {
    position: relative;
    height: 18vw ;
    margin-bottom: 2vw;
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        border-radius: 10px;   
    }
    &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;        
    }
    &-title {
        width: 80%;
        position: absolute;
        left: 2.5vw;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        font-size: 4.5vw;
        font-weight: 500;
        z-index: 1;
    }
}
@media screen and (min-width: 768px){
    .kasa-banner-container {
        height: 18vw ;
        margin-bottom: 20px;
        &-title {
            left: 5%;
            font-size: 3.4rem;
        }
    }
}
@media screen and (min-width: 1024px){

}